body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("https://images3.alphacoders.com/714/714283.jpg");
    background-size: cover;
    background-position: center;
}

form#formCadastro {
    width: 100%;
    max-width: 340px;
    padding: 20px !important;
    border-radius: 14px;
}


form h4 {
    font-size: 1.1rem;
    margin-bottom: 1.2rem;
}


.form-label {
    font-size: 0.8rem;
    margin-bottom: 4px;
    font-weight: 500;
}


.form-control {
    font-size: 0.85rem;
    padding: 6px 8px;
}


.input-group-text {
    padding: 6px 10px;
    font-size: 0.85rem;
}


.mb-3 {
    margin-bottom: 0.7rem !important;
}


button.btn {
    font-size: 0.85rem;
    padding: 8px;
    border-radius: 10px;
}


.shadow {
    box-shadow: 0 10px 25px rgba(0,0,0,0.25) !important;
}

.titulo-dashboard {
    color: #ffffff;
}
