name: Build and deploy JAR app to Azure Web App - bootcamp-produtos-HigorCabral

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn clean package -DskipTests
        working-directory: SpringBoot/api-produtos

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: java-app
          path: 'SpringBoot/api-produtos/target/*.jar'

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: java-app

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_1684CE2BCA004FBEA3EBAD71C776EB42 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_60A17446F61441CD9A0D461296C66ECC }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_ABB30AE313A742C3A398732AC0AB917D }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'bootcamp-produtos-HigorCabral'
          slot-name: 'Production'
          package: '*.jar'

